
<input type="text" value="{{displayNumber}}" disabled>
<br>
<button class="btn btn-primary" (click)="onNumberPress(1)">1</button>
<button class="btn btn-primary" (click)="onNumberPress(2)">2</button>
<button class="btn btn-primary" (click)="onNumberPress(3)">3</button>
<button class="btn btn-success" (click)="add()">+</button>
<br>
<button class="btn btn-primary" (click)="onNumberPress(4)">4</button>
<button class="btn btn-primary" (click)="onNumberPress(5)">5</button>
<button class="btn btn-primary" (click)="onNumberPress(6)">6</button>
<button class="btn btn-success" (click)="sub()">-</button>
<br>
<button class="btn btn-primary" (click)="onNumberPress(7)">7</button>
<button class="btn btn-primary" (click)="onNumberPress(8)">8</button>
<button class="btn btn-primary" (click)="onNumberPress(9)">9</button>
<button class="btn btn-success" (click)="mul()">x</button>
<br>
<button class="btn btn-primary" (click)="onNumberPress(0)">0</button>
<button class="btn btn-success" (click)="del()">d</button>
<button class="btn btn-success" (click)="calc()">=</button>
<button class="btn btn-success" (click)="div()">/</button>